h1 {
  font-family: sans-serif;
  color: red;
  text-align: center;
}
p {
  font-family: sans-serif;
  text-align: center;
  color: #5f5d5d;
}
a {
  color: rgb(167, 1, 70);
  text-decoration: none;
}
/* pseudo selector  다른 상태(마우스 오버 등)에 있을때 적용하는 CSS 선택자*/
a:hover {
  text-decoration: underline;
}
